USE [master]
GO
/****** Object:  Database [WardrobeProject]    Script Date: 2/20/2017 11:37:50 AM ******/
CREATE DATABASE [WardrobeProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WardrobeProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WardrobeProject.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WardrobeProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WardrobeProject_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WardrobeProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WardrobeProject]
GO
/****** Object:  Table [dbo].[ClothingTable]    Script Date: 2/20/2017 11:37:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ClothingTable](
	[ClothingID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Photo] [nvarchar](250) NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[Occasion] [varchar](50) NOT NULL,
	[Season] [varchar](50) NOT NULL,
	[ClothingType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ClothingTable] PRIMARY KEY CLUSTERED 
(
	[ClothingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
